<div class="container col-md-10">
    <div class="row">
        <div class="col-md-5">
            <img src="{{product.Image}}" width="300", height="300" alt="student image">
        </div>
        <div class="col-md-7">
            <h1>Product Information</h1>
            <h3>Name: {{ product.Name }}</h3>
            <h3>Brand: {{ product.Brand }}</h3>
            <h3>Price: {{ product.Price}}</h3>
            <h3>Quantity: {{ product.quantity }}</h3>

        </div>
    </div>
</div>